* {
  margin: 0;
  box-sizing: border-box;
}
body {
  color: whitesmoke;
  background-image: url("images/stars.jpg");
  background-color: black;
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
}

#startScreen,
form,
.submit {
  display: flex;
  justify-content: center;
}

#start,
#name {
  align-self: center;
}
#mainScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  width: 80%;
  background-image: url("images/stars.jpg");
  background-size: cover;
  background: black;
  margin: auto;
}
.star-wars {
  display: flex;
  justify-content: center;
  height: 800px;
  perspective: 400px;
  color: #feda4a;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
}

.crawl {
  position: relative;
  top: -100px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}
@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
.container {
  display: flex;
  flex-direction: column;
  border: 20px solid rgb(181, 22, 22);
  width: 104%;
  height: 40%;
  border-radius: 25px;
  margin: 100px auto;
  padding: 20px;
  overflow: hidden;
}

.star-wars {
  height: 800px;
  perspective: 400px;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
}

h1,
h2 {
  text-align: center;
  margin: 5%;
  font-size: 40px;
}

p {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}
a {
  text-align: center;
}

fieldset {
  margin: 5px;
  width: 45%;
  height: 80px;
  padding: 10px;
}
.submit {
  width: 100%;
}
.button {
  height: 30px;
  margin: 20px;
}
button {
  width: 100px;
  margin: auto;
}
