* {
  margin: 0;
  box-sizing: border-box;
  color: #feda4a;
}
body {
  color: whitesmoke;
  background-image: url("images/stars.jpg");
  background-color: black;
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
  height: 100vh;
}

#startScreen,
form,
.submit,
.star-wars {
  display: flex;
  justify-content: center;
}

#start {
  align-self: center;
}
#mainScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

main {
  width: 80%;
  height: 0%;
  background-image: url("images/stars.jpg");
  background-size: cover;
  background: transparent;
  margin: auto;
}
.star-wars {
  height: 800px;
  perspective: 400px;
  color: #feda4a;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 600%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
}

.crawl {
  position: relative;
  top: -100px;
  transform-origin: 50% 100%;
  animation: crawl 100s linear;
}
@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
.container {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  border: 20px solid rgb(181, 22, 22);
  width: 104%;
  height: 50%;
  border-radius: 25px;
  margin: 100px auto;
  padding: 20px;
  overflow: hidden;
}
.star-wars h1 {
  font-size: 110%;
  font-weight: 600;
}
.star-wars {
  height: 800px;
  perspective: 400px;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
}

h1,
h2 {
  text-align: center;
  margin: 5%;
  font-size: 40px;
}

a {
  position: relative;
  top: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(181, 22, 22);
  font-size: 200%;
  text-decoration: none;
}
a:hover {
  color: #feda4a;
}

fieldset {
  margin: 5px;
  width: 45%;
  height: 80px;
  padding: 10px;
}
.name {
  position: relative;
  align-self: center;
  height: 30px;
}
input {
  margin: 10px;
  color: black;
}
label {
  margin-top: 5px;
}
.submit {
  width: 100%;
}
#feet,
#inches,
option {
  color: black;
}

.button {
  position: relative;
  align-self: center;
  height: 40px;
  width: 100px;
  background-color: rgb(181, 22, 22);
}
button {
  position: relative;
  top: 15px;
  width: 100px;
  margin: 10px 45%;
  height: 50px;
  color: black;
  background-color: rgb(181, 22, 22);
}
button:hover,
.button:hover {
  background-color: #f7d84a;
}

@media only screen and (max-width: 895px) {
  #startScreen,
  form,
  .submit,
  .star-wars {
    flex-direction: column;
    align-items: center;
  }
  .container {
    width: 95%;
  }
  input {
    margin: 5px;
  }
  .button {
    position: relative;
    top: 25px;
  }
  button {
    margin: 10px 40%;
  }
  fieldset {
    height: 100px;
  }
  h1,
  h2 {
    margin: 0%;
    font-size: 28px;
  }
  .star-wars {
    font-size: 300%;
  }
}
